<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Students</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${listStudents}" class="container my-5">
					<p class="my-5">
						<a href="/api/v1/studenti/edit" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> Add Student </i></a>
					</p>
					
					<p>
					<a href="http://localhost:8080/Facultate/home"
						class="btn btn-primary"> <input type="submit"
						class="btn btn-primary" value="Back">
					</a>
					</p>
					
					<div class="col-md-10">
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID Student</th>
										<th>Nr. Matricol</th>
										<th>Nume</th>
										<th>Specializare</th>
										<th>Discipline</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="student : ${listStudents}">
										<td th:text="${student.idStudent}"></td>
										<td th:text="${student.nrMatricol}"></td>
										<td th:text="${student.name}"></td>
										<td th:text="${student.specializare}"></td>
										<td>
										<span th:each="disciplina: ${student.likedDiscipline}"> 
											<p><span th:text="${disciplina.name}" /></p>
										</span>
										</td>
										
										<td><a
											th:href="@{/api/v1/studenti/edit/{idStudent}(idStudent=${student.idStudent})}"
											class="btn btn-primary"> <i class="fas fa-user-edit ml-2"></i>
										</a></td>
										<td><a
											th:href="@{/api/v1/studenti/delete/{idStudent}(idStudent=${student.idStudent})}"
											class="btn btn-primary"> <i
												class="fas fa-user-times ml-2"></i>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>